# Web Server & Framework
fastapi
uvicorn
supabase
python-multipart
PyJWT
pwdlib[argon2]

# Database & ORM
sqlalchemy[asyncio]
asyncpg
pgvector

# AI & LangChain
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-groq
pypdf

# OCR & PDF Processing
pdf2image
rapidocr_onnxruntime
numpy

# Utilities & HTTP
httpx
python-dotenv
logging

# Testing
pytest